{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}

        <div class="col-md-3"><br><br>
            <div class="card">
  <img class="card-img-top" src="{{i.img.url}}" alt="..." height="270px;">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
      <h5 class="card-text">{{i.year}}</h5>
    <a class="btn btn-warning" href="{% url  'movieapp:detail' i.id %}" class="btn btn-primary">View Details</a>
  </div>
            </div>
</div>
        {% endfor %}

    </div>
</div>

{% endblock %}
